body{

font-family:Arial;
background-image: url(background.png);
background-size:cover;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;

    font-family:Georgia, serif;
}

.certificate{
    background:rgb(255, 195, 195);
    width:750px;
    padding:60px;
    text-align:center;
    border:6px solid #ff4d6d;
    border-radius:12px;
    box-shadow:0 20px 40px rgba(0,0,0,0.15);
}

h1{
    font-size:42px;
    letter-spacing:3px;
    color:#ff2e63;
    margin-bottom:10px;
}

.subtitle{
    font-size:18px;
    margin-bottom:40px;
}

.names{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:40px;
    margin-bottom:40px;
}

.person h2{
    margin:0;
    font-size:26px;
}

.person p{
    margin:5px 0;
}

.heart{
    font-size:40px;
}

.romantic{
    font-style:italic;
    font-size:18px;
    line-height:1.6;
    margin-bottom:40px;
}

.date{
    font-size:18px;
    margin-bottom:50px;
}

.signature{
    font-size:14px;
}